html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width')
        title= 'Home'
    body
        each article in pagination.files
            article.content-article
                header
                    span.timestamp= moment(article.date).format('MMMM D, YYYY')
                    h2
                        a(href='/' + article.path)= article.title
    nav
        if pagination.previous
            a.btn(href='/' + pagination.previous.path)
                | Newer
        if pagination.next
            a.btn(href='/' + pagination.next.path)
                | Older
